*{
    margin: 0px;
    padding: 0px;
}
.col-sm h3{
    color: black;
}
.footer-principal{
    text-align: left;
    background: black;
}
.footer-principal p{
    text-align: left;
    margin-bottom: 6px;
}

.final{
    text-align: center;
    color: white;
}
.col-sm{
    color: whitesmoke;
}
.mt-0{
    color: red;
    font-family: 'Rubik';
    text-align: center;
}
.media-body p{
    font-family: 'Rubik';
    font-size: 13px;
}

.infor{
   background: image();
}