*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff;
}
h1 {
    color: #0e9eff;
}
@media (max-width: 576px) {
    h1 {
        color: red;
        font-size: 40px !important;
        display: none;
    }
}
h2{
    color: #048de9;
}
p{
    color: #4e443e;
}
a{
    text-decoration: none;
    color: #048de9;
}
nav{
    background-color: #2272cb;
    margin-bottom: 20px;
    margin-top: 10px;
}
nav li{
    display: inline;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
nav li:hover{
    background-color: #CC3300;
}
nav li a{
    color: white;
}
.menuPrincipalTop{
    position: fixed;
    top: -10px;
    margin-top: 0;
    z-index: 2000;
}

#menuLateral{
    position: relative;
    display: inline;
    float: left;

    border: #0e9eff 1px solid;
}


/*
- Control de Versiones GIT
- Documento de definición de proyecto
- Paleta de Colores
- Layouts (2 mobile, 2 Descktop )
- Index
- Css
*/