*{
    margin: 10px;
    padding: 1px;
}
h1{
    color: rgba(255, 17, 164, 0.78); /*si todos los caracteres son iguales se puede acotar a 3.*/
}
h2{
    color: #d70085;
}
p{
    color: #000000;
}
a{
    text-decoration: none;
    color: #000;
}
nav{
    background-color: #bda5a3; /*que se encuentren en linea*/
    margin-bottom: 20px;
    margin-top: 10px;
}

nav  ul li{
    display: inline;
}
/*identificador: #, clase: .*/

.container{
    max-width: 1200px;
    margin: auto; /*alinear al centro*/
    border: #b4bdb2 1px solid; /*color, grosor y tipo de border*/
}

#menuLateral{
    position: fixed;
    top: 100px;
    right: 1px;
    border: #d5d7d5 1px solid;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h3 {
    font-weight: 400;
    color: #40d79b;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.marketing {
    max-width: 1200px;
    margin: auto; /*alinear al centro*/
    border: #ffffff 1px solid; /*color, grosor y tipo de border*/
}