*{
    margin: 0px;
    padding: 0px;
}

font-family: 'Caladea', serif;

h1 
{
    color: #BF2431;
}

@media (min-width: 576px) 
{ 
h1 
{
    color: #BF2431;
    max-width: 100%;
    height: auto;
}
}


h2
{
    color: #3B3B3B;
}

h3
{
    color: #FFFFFF;
}

h4
{
    color: #3B3B3B;
}

p
{
    color: #FFFFFF;
}

a
{
    text-decoration: none;
    color: #FFFFFF;
}

nav
{
    background-color: #3B3B3B;
    margin-bottom: 20px;
    margin-top: 10px;
}

nav li
{
    display: inline;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

nav li:hover
{
    background-color: #CC5F27;
}

nav li a
{
    color: #FFFFFF;
}

body
{
 background-color: #E3A21B;
}

hr
{
 background-color: #BF2431;
}

img 
{
    max-width: 100%;
    height: auto;
}