*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: #0e9eff;
    font-family: 'Montserrat';
}
h2{
    color: #048de9;
    font-family: 'PT Sans';
}
p{
    color: #4e443e;
    font-family: 'Bitter';
}
a{
    text-decoration: none;
    color: #048de9;
    font-family: 'Bitter' ;
}
nav{
    background-color: #2272cb;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Montserrat';
}
nav li{
    display: inline;
    color: #fff;
    margin: 10px;
}
.container{
    max-width: 1100px;
    margin: auto; /* Centrar */
    border: #4e443e 1px solid; /* Color - grosor - tipo de borde*/
}
#menuLateral{
    position: relative;
    display: inline;
    float: left;
    border: #0e9eff 1px solid;
}
/*font-family: 'Montserrat', ;
font-family: 'PT Sans', ;
font-family: 'Bitter', ;*/
/*

- Control de Versiones GIT

- Documento de definición de proyecto

- Paleta de Colores

- Layouts (2 mobile, 2 Descktop )

- Index

- Css

*/