**{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff;
    font-family: "PT Sans";
}
h1 {
    color: #0e9eff;
    font-family: Bitter;
}
@media (max-width: 576px) {
    h1 {
        color: red;
        font-size: 40px !important;
        display: none;
    }
}
h2{
    color: #048de9;
}
p{
    color: #4e443e;
    font-family: "PT Sans";
}
a{
    text-decoration: none;
    color: #048de9;
    font-family: Montserrat;
}
nav{
    background-color: #2272cb;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Bitter;
}
nav li{
    display: inline;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: Montserrat;
}
nav li:hover{
    background-color: #CC3300;
}
nav li a{
    color: white;
}
.menuPrincipalTop{
    position: fixed;
    top: -10px;
    margin-top: fill;
    z-index: 2000;
    font-family: Montserrat;
}

#menuLateral{
    position: relative;
    display: inline;
    float: left;
    font-family: "PT Sans";
    border: #0e9eff 1px solid;
}
*{
    margin: 0px;
    padding: 0px;
}
.col-sm h3{
    color: black;
}
.footer-principal{
    text-align: left;
    background: black;
    font-family: Bitter;
}
.footer-principal p{
    text-align: left;
    margin-bottom: 6px;
    font-family: "PT Sans";
}

.final{
    text-align: center;
    color: white;
}
.col-sm{
    color: whitesmoke;
}
.mt-0{
    color: red;
    font-family: Bitter;
    text-align: center;
}
.media-body p{
    font-family: Bitter;
    font-size: 13px;
}

/*font-family: 'Montserrat', ;
font-family: 'PT Sans', ;
font-family: 'Bitter', ;*/
/*

- Control de Versiones GIT

- Documento de definición de proyecto

- Paleta de Colores

- Layouts (2 mobile, 2 Descktop )

- Index

- Css

*/
