*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: #ff0d00;
    position: center;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-top: 10px;
}
h2{
    color: #0091ff;
}
p{
    color: gray;
}
a{
    text-decoration: none;
    color: firebrick;
}
nav ul li{
    display: inline;
    color: #ff8f00;
    margin: 10px;
}
nav{
    background-color: #0022ff;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    /*margin: auto; /*centrar*/
    border: #4e49fd 1px solid; /*color, grosor y tipo de borde*/
    display: inline;
    float: left;
    max-width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 1%;
}
#menuLateral{
    top: 5%;
    right: 20px;
    border: blue 1px solid;
    display: inline;
    float: left;
}
footer{

}
nav li a{
    color: white;
}
nav li:hover{
    opacity: .8;
    background-color: gray;
    cursor: wait;
    border-radius: 10px;
}
nav li{
    display: inline;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}