body{
	padding: 0;
    background-image: url("https://image.freepik.com/vector-gratis/efecto-papel-cuadricula-patron-transparente_104-2147486107.jpg");
}

/*navbar*/
.nav{
	color:white;
}
.nav:hover{
	color:#DCD5D5;
	text-decoration:none;
}

/*main*/
main{
  padding: 20px;
  
}
.cua{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Coming Soon';
}
.ki{
}
.img{
	height: 350px;
	width: 250px;
	border-style: dashed;
	border-color: black;
	box-shadow: 5px 5px #454545;
}


/*footer*/
footer{
	background: #0C2438;
	color: white;	
}