body{
	box-sizing: inherit;
}
.navbar{
	background: #1F74BD;
	font-family:courier,arial,helvética;
}
.img{
	width: 160px;
	height: 80px;
}
.imgb{
	width: 28px;
	height: 28px;
	align-items: center;
}
.bi:hover{
	color:black;
}
footer{
	background: #0C2438;
	color: white;	
}
.ps{
	height: 403px;
}
.bt{
	background: white;
}
.ip{
	height:33px;
	width:28px;
}
