*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: #545b80;
    margin-bottom: 20px;
}
body{
    background-color: #c4c5cc;
}

.wrapper{
    max-width: 80%;
    overflow: hidden;
    margin: auto;
}

header .logo{
    color: "#f5f7ff";
    font-size: 50px;
    line-height: 200px;
    float: left;
}




header img{
    height: 50px;
    line-height: 200px;
}

.container{
    max-width: 100%;
    margin-right: 350px;
    text-align: center;
}

.primera{
    height: 300px;
    width: 400px;
}
.primera:hover{
    opacity: 0.5;
}
.segunda:hover{
    opacity: 0.5;
}
.tercera:hover{
    opacity: 0.5;
}
.segunda {
    height: 300px;
    width: 400px;
}

.tercera{
    height: 300px;
    width: 400px;
}