*{
	margin:0px;
	padding:0px;
}

#agrupar{
	width:1000px;
	margin:15px auto;
	height:1500px;
}

header{
	background-color:#000000;
	min-height:60px;
	margin-bottom:15px;
	box-shadow:10px -10px 5px grey;
}

h1{
	text-align:center;
	padding:15px 5px;
	color:white;
}

#menusuperior{
	background-color:#3C3E4B;
	overflow:hidden;
	list-style-type:none;
	margin:0px;
	padding:0px;
	box-shadow:10px -10px 5px grey;
}

li{
	float:left
}

li a{
	font: bold 11px verdana;
	display:block;
	color:white;
	text-align:center;
	padding:10px 10px;
	text-decoration:none;
}

li:hover{
	background-color:#040000;
	color:red;
	text-shadow:1px 1px 2px white;
}

#menuderecha{
	background-color:#3C3E4B;
	overflow:hidden;
	list-style-type:none;
	margin:0px;
	padding:0px;
	box-shadow:10px -10px 5px grey;
	float:right;
}

#columna{
	float:right;
	color:white;
	width:120px;
	padding-top:0px;
}

.contenedor{
	width:200px;
	height:200px;
	float:right;
	-webkit-transition:height:.5;
}
#uno{
	background-color:#000000
}
#dos{
	background-color:#10185D
}
#tres{
	background-color:#929178
}
#cuatro{
	background-color:#F3EF12
}
#cinco{
	background-color:#B90505
}
#seis{
	background-color:#0F00FF;
}

.texto{
	color:white;
	opacity:.7;
	text-align:center;
	font-size:1.2em;
}
.icono{
	display:block;
    background-color:rgba(255,255,255,.15);
	width:40px;
	padding:15px;
	margin:50px auto;
	-webkit-border-radius:50px;
	-webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,.0);
	-webkit-transition:box-shadow .4s;
}
.contenedor:hover{
	height:250px;
}
.contenedor:hover p.texto{
	padding-top:30px
}
.contenedor:hover img.icono{
		-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

#informacion{
	width:850px;
}