.top1{



}

.navOpa{
    opacity: 70%;
}

.bordeImagenRight{
    width: 50%;
    float: right;
}

.textLeft{
    width: 100%;
    float:left;
}

.bordeImagenLeft{
    width: 50%;
    float: Left;
    margin-right: 3%;
}

.textRight{
    width: 100%;
    float:Right;
}




h1{
    color: #fff;
    margin-left: 20%;
}

#Story{
    margin-bottom: 3%;
    font-size: 80px;
    margin-left: 45%;
    font-family: 'Rajdhani';
    color: floralwhite;
}

.logito{
    margin-top: 2%;
    margin-bottom: 1%;
}

.logo1{
    max-width: 20%;
    margin-bottom: 2%;
}

.snap{
    margin-right: 10%;
}

.nav{

}

.welcome{
    margin: 0px 0px 30px 0px;
    padding: 0px;
    font-size: 120px;
    color: #ffffff;

    display: inline-block;
    text-align: center;
}

division{
    width: 90%;
    height: 90%;
}



.textoGeneral{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat';
    display: inline-block;
    text-align: justify;

}

.colorNavBarPrincipal{
    background-color: #000;
}

.colorNavBarChapter{
    background-color: #fff;

}



.colorTextNavBarSubChapter{
    color: #0077ff;
}

.navBody{
   position:fixed;
    display:inline;
}

.menuLateral{
    position: sticky;
    display: flex;
    /*float: right;*/
    /*margin: auto;*/
    margin-left: 1%;
    margin-bottom: 3%;
    top: 0;

}


.container2 {
    position: relative;
    text-align: center;
    color: white;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.texto{
    text-align: center;
    font-size: 20px;
    color: #ffffff;

    display: inline-block;
    text-align: center;
}


.marginS{
    margin-left: 10%;
}

.portada{
    background: url(imagenes/fondo3.jpg) no-repeat fixed center;

    background-size: cover;
    height: 100%;
    width: 100% ;

}

