.top1{



}
h1{
    color: #fff;
    margin-left: 20%;
}

.logito{
    margin-top: 2%;
    margin-bottom: 1%;
}

.logo1{
    max-width: 20%;
    margin-bottom: 2%;
}

.snap{
    margin-right: 10%;
}

.nav{

}

.welcome{
    margin: 30px 0px 30px 0px;
    padding: 10px;
    font-size: 120px;
    color: #ffffff;

    display: inline-block;
    text-align: center;
}

division{
    width: 90%;
    height: 90%;
}



.textoGeneral{
    text-align: center;
    font-size: 20px;
    color: #fff;

    display: inline-block;
    text-align: justify;

}

.texto{
    text-align: center;
    font-size: 20px;
    color: #ffffff;

    display: inline-block;
    text-align: center;
}


.portada{
    background: url(imagenes/fondo3.jpg) no-repeat fixed center;

    background-size: cover;
    height: 100%;
    width: 100% ;

}