
.columnG {
    position: relative;
    float: left;
    width: 25%;
    padding: 10px;
    z-index: 0;

}

.columnG img {
    position: relative;
    opacity: 0.8;
    cursor: pointer;
    z-index: 0;

}

.columnG img:hover {
    position: relative;
    opacity: 1;
    z-index: 0;

}


.row:after {
    position: relative;
    content: "";
    display: table;
    clear: both;
    z-index: 0;

}

.containerG {
    position: relative;
    display: none;
    z-index: 0;
}




#imgtextG {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


.closebtnG {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#galeria {
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    column-count: 2;

    -webkit-column-span:all;
    column-span:all;
    -webkit-column-span:all;
    column-span:all;

    -moz-column-rule: 1px solid #bbb;
    -webkit-column-rule: 1px solid #bbb;
    column-rule: 1px solid #bbb;

}

@media (max-width: 767px) {
    #galeria {
        columns:2;
    }

}


@media (max-width: 480px) {
    #galeria {
        columns: 1;
    }
}


#Form{
    font-family: 'Rajdhani';
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-img {

    background-image: url("imagenes/fondoForm.jpg");

    min-height: 520px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.containerF {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}


input[type=text], input[type=nickname] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=nickname]:focus {
    background-color: #ddd;
    outline: none;
}


.btn1 {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn1:hover {
    opacity: 1;
}










